.hidden-div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  color: #fff;
  justify-content: flex-end;
  align-items: flex-end;
}

.cover_this {
  position: relative;
}

.trigger-element:hover + .hidden-div {
  display: flex;
}
